@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-layout-unit-header.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(top, #1e4582 0, #1e4582 100%);
}

.ui-layout-unit-header.ui-widget-header span {
    color: white;
}

.ui-layout-unit-header-title {
    font-family: "Droid Arabic Kufi";
}

.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}

.column {
    font-weight: bold;
    background-color: menu;
}

.ui-column-title {
    font-family: "Droid Arabic Kufi";
}

.ui-widget-content {
    border: none;
}

.title-container {
    top: 15%;
    position: relative;
    float: right;
    font-size: 18px;
    padding-right: 8px;
}

.title-container > span {
    font-family: "Droid Arabic Kufi";
    color: white;
}

.grad-title .ui-widget-content {
    background: #1e4582; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #1e4582); /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), #1e4582); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), #1e4582); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255, 0, 0, 0), #1e4582); /*Standard*/
}