<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VotersCreateDlg" widgetVar="VotersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateVotersTitle}" closeOnEscape="true">

            <h:form id="VotersCreateForm">

                <h:panelGroup id="display" rendered="#{votersController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{bundle.CreateVotersLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{votersController.selected.firstName}" title="#{bundle.CreateVotersTitle_firstName}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_middleName}" for="middleName" />
                        <p:inputText id="middleName" value="#{votersController.selected.middleName}" title="#{bundle.CreateVotersTitle_middleName}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{votersController.selected.lastName}" title="#{bundle.CreateVotersTitle_lastName}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_motherName}" for="motherName" />
                        <p:inputText id="motherName" value="#{votersController.selected.motherName}" title="#{bundle.CreateVotersTitle_motherName}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_birthDate}" for="birthDate" />
                        <p:calendar id="birthDate" pattern="MM/dd/yyyy" value="#{votersController.selected.birthDate}" title="#{bundle.CreateVotersTitle_birthDate}"  showOn="button"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_sex}" for="sex" />
                        <p:inputText id="sex" value="#{votersController.selected.sex}" title="#{bundle.CreateVotersTitle_sex}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_registrationNb}" for="registrationNb" />
                        <p:inputText id="registrationNb" value="#{votersController.selected.registrationNb}" title="#{bundle.CreateVotersTitle_registrationNb}"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_listReligion}" for="listReligion" />
                        <p:inputText id="listReligion" value="#{votersController.selected.listReligion}" title="#{bundle.CreateVotersTitle_listReligion}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_religion}" for="religion" />
                        <p:inputText id="religion" value="#{votersController.selected.religion}" title="#{bundle.CreateVotersTitle_religion}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_province}" for="province" />
                        <p:inputText id="province" value="#{votersController.selected.province}" title="#{bundle.CreateVotersTitle_province}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_judiciary}" for="judiciary" />
                        <p:inputText id="judiciary" value="#{votersController.selected.judiciary}" title="#{bundle.CreateVotersTitle_judiciary}" size="150" maxlength="150"/>

                        <p:outputLabel value="#{bundle.CreateVotersLabel_village}" for="village" />
                        <p:inputText id="village" value="#{votersController.selected.village}" title="#{bundle.CreateVotersTitle_village}" size="150" maxlength="150"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{votersController.saveNew}" value="#{bundle.Save}" update="display,:VotersListForm:datalist" oncomplete="handleSubmit(xhr,status,args,PF('VotersCreateDialog'));">
                        <p:confirm header="#{bundle.ConfirmationHeader}" message="#{bundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{bundle.Cancel}" oncomplete="PF('VotersCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
