<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="shortcut icon" href="#{resource['images/favicon.ico']}" type="image/x-icon" />
        <title>#{bundle.AppName}</title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputStylesheet library="css" name="pace.min.css"/>
        <h:outputStylesheet library="css" name="loader.css"/>
        <h:outputStylesheet library="css" name="blurLoader.css"/>
        <h:outputScript library="scripts" name="pace.min.js"/>
        <h:outputScript library="scripts" name="jquery.doubleScroll.js"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
        <h:outputScript library="scripts" name="loader.js"/>
    </h:head>

    <h:body>

      <p:layout fullPage="true">
            <p:layoutUnit position="north" size="75">
                <p:layout>
                    <p:layoutUnit position="east"> <p:graphicImage style="width: 110px" name="images/logo3-ar.png"/></p:layoutUnit>
                    <p:layoutUnit position="center" styleClass="grad-title"><div class="title-container"><span>#{bundle.AppName}</span></div></p:layoutUnit>
                </p:layout>
            </p:layoutUnit>

          <p:layoutUnit position="center">
              <ui:insert name="body"/>
          </p:layoutUnit>
        </p:layout>

        <div id="blurLoader">
            <ui:include src="/blurLoader.xhtml" />
        </div>

    </h:body>


</html>
